<html>
<head>
</head>
<body>
    <div>
        <h1>クラシックシンフォニー楽団のページへようこそ！</h1>

        <!--お知らせ部品の埋め込み-->
        {{ include("Common/infomation.html.twig") }}
        <p><a href="{{ path("app_concert_index") }}">公演情報はこちら</a></p>

        <!--新着ブログリストを埋め込む-->
        {{ render(controller("AppBundle:Blog:latestList")) }}

        <!--
            カッコで囲んだ場所を変数として認識
            コメント中であっても判定しているので注意
        -->

        <!--パス名はsymphonyが自動生成している
            php app/console debug:router で確認
            path("自動生成パス")
        -->
    </div>
</body>
</html>