<html>
<head>
</head>
<body>
    <div>
        <h1>公開講演</h1>
        <ul>
            <!--　for文：for 変数 in 代入元変数-->
            {% for concertInfo in concertList %}
                <li>
                    {{ loop.index }}
                    {{ concertInfo.data }}
                    {{ concertInfo.place }}
                    <!-- if文：if 判定式-->
                    {% if concertInfo.available == 'true' %}
                        （予約可能）
                    {% else %}
                        （満席）
                    {% endif %}
                    {{ concertInfo.time }}開演
                </li>
            {% endfor %}
        </ul>
    </div>    
</body>
</html>